/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    body{
        font-size: 300%;
    }
}
    
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
    body{
     font-size: 100%;
    }
}



/* All Sizes */

body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        /*
        background: rgb(165, 160, 100 ,1);*/
        background: #B0C4DE;
        color: #232642;
    }    
    

li a {
    display: block;
    min-width: 10vw;
    padding: 8px 16px;
    /*border: 1px solid #fff;*/
    background: #B0C4DE;
    color: #232642;
    text-decoration: none;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 10vw;
}

li a:hover {
    background-color: #232642;
    color: #B0C4DE;
}

div.Banner{
    background-color: #232642;
    width: auto;
}

div.Banner>img{
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
}

div.wrapper{
    margin:4vw;
    margin-left: 3ex;
}
