@import "styles.css";

/* TODO: Apply this style - individual 'divs' must me formatted */
/* * {
    margin: 0;
    padding: 0;
} */

/* TODO: Add round borders to buttons and links */

.wrapper {
    margin: 4vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: var(--base);
    color: var(--primary);
}

li a {
    display: block;
    min-width: 10vw;
    padding: 8px 16px;
    background: var(--base);
    color: var(--primary);
    text-decoration: none;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 10vw;
}

li a:hover {
    background-color: var(--primary);
    color: var(--base);
}

/* Used in multiple pages! */
.NavigationButton {
    float: right;
    color: var(--primary);
}

.NavigationButton img {
    height: 35px;
}

.NavigationButton svg {
    height: 35px;
    width: 35px;
    stroke: var(--secondary-light)
}