div.container{
 position:relative; 
}  

div.contributions{
  position: absolute;
  left: 55%;
  right: 5vw;
  border: 3px solid #232642;
  width: 45%;
  max-width: 500px;
  min-width: 150px;
  height: 50vw;
}  

div.month{
  position: absolute;
  left:auto;
  width: 50%;
  border: 3px solid #232642;
}  

div.miniheader{
 font-size: 1.5em; 
}  

div.SOTMsong{
 position: absolute;
 left: 55%;
 width: 45%:
}

div.SOTMmonth{
 position:absolute;
 left:auto;
 width:50%;
