@import "styles.css";
/*laptop screen*/
div.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.contributions{
  border: 3px solid var(--text);
  width: 45%;
  min-width: 150px;
  padding: 1vw;
  margin-bottom: 1em;
}

div.month{
  border: 3px solid var(--text);
  width: 45%;
  min-width: 150px;
  margin-bottom: 1em;
} 

/*Touchsceen and small screen*/
@media (hover: none) and (pointer: coarse), only screen and (max-width: 700px){
    
  div.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 

 div.contributions{
    border: 0.15em solid var(--pale);
    width: auto;
  }
  
  div.month{
    border: 0.15em solid var(--pale);
    width: auto;
  }
}


/* All sizes */
div.songOfMonths a:hover {
  background-color: var(--text);
  color: var(--base);
}

div.miniheader{
 font-size: 1.5em; 
}  

div.songOfMonths{
 display: table;
 flex: 1;
 padding-left: 7px;
}

div.songOfMonths>div{
 display: table-row;
}

div.songOfMonths>div>.SOTMmonthCell{
 display: table-cell;
}

div.songOfMonths>div>.SOTMsongCell{
 display: table-cell;
 text-align: right;
}

div.songOfMonthContainer{
  display: flex;
}

div.songOfMonths a {
  display: block;
  min-width: 10vw;
  padding: 8px 16px;
  background: var(--base);
  color: var(--text);
  text-decoration: none;
  transition: 0.5s;
}


div.exploreContainer{
  text-align:center;
  margin: 1em;
}

a.explore{
  background-color: var(--flash);
  color: var(--text);
  padding: 1em;
  display: inline-block;
  text-decoration: none;
  border: 0.15em solid var(--text);
}

a.explore:hover{
  background-color: var(--text);
  color:var(--base);
  border: 0.15em solid var(--pale);
}

}
