div.container{
 position:relative; 
}  

div.contributions{
  position: absolute;
  left: 55%;
  right: 5vw;
  border: 3px solid #232642;
  width: 45%;
  max-width: 500px;
  min-width: 150px;
  padding: 1vw;
}  

div.month{
  position: absolute;
  left:auto;
  width: 50%;
  border: 3px solid #232642;
}  

div.miniheader{
 font-size: 1.5em; 
}  

div.songOfMonths{
 display: table;
 width: 100%;
}

div.songOfMonths>div{
 display: table-row;
}
div.songOfMonths>div{
 display: table-row;
}

div.songOfMonths>div>.SOTMmonthCell{
 display: table-cell;
}
div.songOfMonths>div>.SOTMsongCell{
 display: table-cell;
 text-align: right;
}
