.search-container {
  margin-bottom: 5px;
}

/* Hide song index when there are resuls */
.search-container:has(>.hulipaa_searchbar .result-div > div)+.index-songs {
  display: none;
}

/* TODO remove this once the button follows the same styling of the other buttons in the library*/
.hulipaa_searchbar form button {
  border: 0;
  background-color: transparent;
}

/* TODO remove this once the button follows the same styling of the other buttons in the library*/
.hulipaa_searchbar form button:hover {
  cursor: pointer;
}

/* TODO remove this once the button follows the same styling of the other buttons in the library*/
.hulipaa_searchbar form img {
  filter: invert(13%)
}

/* TODO remove this fix once the error has been fixed in the library*/
.hulipaa_searchbar .open-div {
  /*Not a perfect fix, but it looks better than before*/
  flex-basis: 0% !important;
}