@import "styles.css";

/* --- To Top Button --- */
div.toTop {
    position: fixed;
    bottom: 0;
    right: 10px;
}

/* --- Pagination Buttons --- */
div.pagination a {
    color: var(--primary);
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color .3s;
}

div.pagination a:hover {
    color: var(--base);
    background-color: var(--primary);
}

div.pagination {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

/* --- Song Index  --- */
.letter-groups {
    columns: auto;
    column-width: 18.75rem;
    column-gap: 3.125rem;
    margin: 40px 0;
}

.letter-group {
    margin-bottom: 3.5rem;
    break-inside: avoid;
}

.letter-group ul li:first-child a {
    padding-top: 1.2em;
}

.letter-group ul li:first-child a::first-letter {
    font-size: 2.8em;
    line-height: 0;
    color: var(--secondary);
}