@import "styles.css";

div.toTop {
    position: fixed;
    bottom: 0;
    right: 5;
}

div.ButtonToTop {
    display: block;
    float: right;
    min-width: 10vw;
    padding: 8px 16px;
    /*border: 1px solid #fff;*/
    background-color: var(--base);
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
    list-style-type: none;
}

div.pagination a {
    color: var(--primary);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

div.pagination a:hover {
    color: var(--base);
    background-color: var(--primary);
}

div.pagination {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}