@import "styles.css";

div.nav {
    display: inherit;
}

div.nav>#links {
    display: none;
}

div.nav li a {
    background-color: var(--secondary-light);
    color: var(--base);
    border: none;
}

div.nav li a:hover {
    background: var(--base);
    color: var(--secondary-light);
}