
/* Extra small devices (phones, 600px and down) */
/*
@media only screen and (max-width: 992px) {
    div.nav{
     left: -45;   
    }
}
*/
/* Medium devices (landscape tablets, 768px and up) */
/*
@media only screen and (min-width: 992px) {
    div.nav{
        left:-80;
    }
}
*/

@import "styles.css";

/*Laptop etc*/
div.nav{
    left: -6.8ex;
    height: 100%; /* 100% Full-height */
    width: 9ex; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: var(--text); /* Not Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: left 0.5s; /* 0.5 second transition effect to slide in the sidenav */ 
}

div.nav:hover{
    left: 0;
    background-color: var(--base);
    border-style: none solid none none;
    border-color: var(--text);
}

div.nav:hover>div.menu{
    left: 0;
    display: none;
}

div.menu{
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    float: right;
    color: var(--base);
    border-style: none solid none none;
    border-color: var(--text);
}

div.mobile-nav{
    display:none;
}

/*TouchScreen*/
@media (hover: none) and (pointer: coarse) {
    div.nav{
        display:none;
    }

    div.mobile-nav{
        display: inherit;
    }

    div.mobile-nav>#links{
        display: none;
    }

    div.mobile-nav li a{
        background-color: var(--text);
        color: var(--base);
        border: none;
    }

    div.nav:hover li a {
        background: var(--base);
        color: var(--text);
    }
    
}

/*All Sizes*/
div.nav li a{
    background-color: var(--text);
    color: var(--base);
    display: block;
    padding: 8px 0.5ex;
    text-decoration: none;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */ 
}


div.nav ul {
    display:none;
}

div.nav:hover ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 10vw;
    display: block;
}
div.nav:hover li a {
    background: var(--base);
    color: var(--text);
}

div.nav li a:hover {
    background-color: var(--text);
    color: var(--base);
}


