@import "styles.css";


li.smallSong{
    padding-left: 1.5em;
    padding-top: 20px;
    min-height: 2ex; /*to make sure empy divs don't shrink to 0 height*/
    position: relative;
}

li.smallSong:empty::before{
    display: none
}

li.smallSong::before{
    content: counter(list-item);

    background: var(--secondary);
    color: var(--base);
  
    border-radius: 0 0.8em 0.8em 0;
    text-align: center;
  
    padding: 0.35em 0.3em 0.35em 2.25%;
    top: calc(20px - 0.35em); /* top padding of .smallSong minus top padding of this element, to be able to center correctly the text*/
    left: -7%;
    width: 1.35em;
    position: absolute;
}

ol.numNoDots{
    padding-left: 1ex;
    list-style: none;
}

div.subhead{
    font-weight: bold;
}

div.bold{
    font-weight: bold;
}

div.FortmattingDiv{
    display: inline;
    transition: margin-left .5s;
    padding: 20px;
}

div.song{
    display: table;
    margin: auto;
    width: 90vw;
}

div.row{
    display: table-row;
    width: auto;
}

div.cell{
    display: table-cell;
    float:left;
    width: 50%;
    min-height: 1em;
    word-wrap: break-word;
}

.author{
    font-style: italic;
    margin-top: 6px;
}

@media only screen and (max-width: 600px){
    /*For the smaller devices hide all the divs that are for the large screen size*/
    div.FormattingDiv{
        display: none;
    }
    
    div.bigScreenSongDiv{
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    /* For the larger size hide the small screen size div */
    div.mobileSongDiv{
        display: none;
    }
}

