:root{
    --base: #023047;
    --primary: #8ECAE6;
    --primary-light: #219EBC;
    --secondary: #FB8500;
    --secondary-light: #FFB703;
    --secondary-light-filters: invert(70%) sepia(81%) saturate(1248%) hue-rotate(351deg) brightness(86%) contrast(110%);
}