@import "styles.css";

  a[data-tooltip]{
    display: inline;
    position: relative;
  }

  a[data-tooltip]:focus::after{
    content: attr(data-tooltip);
    background: var(--flash);
    border-radius: 5px;
    top: 26px;
    color: var(--text);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    min-width: 100px;
    max-width: 500px;
  }