@import "styles.css";

  a[data-tooltip]{
    display: inline;
    position: relative;
    padding: unset;
    text-decoration: revert;
    color: var(--primary);
  }

  a[data-tooltip]:hover{
    background-color: unset;
    color: inherit;
    cursor: revert;
  }

  a[data-tooltip]:focus::after{
    content: attr(data-tooltip);
    background: var(--secondary);
    border-radius: 5px;
    top: 26px;
    color: var(--base);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    min-width: 160px;
    max-width: 500px;
    font-size: small;
  }