---
layout: page-menu-banner.liquid
title: "Capoeira Songbook|Home"
---

<h2>
    Home
</h2>

<p>
    Welcome to this Capoeira Songbook. 
</p>
<div>
    <p>
        This project started off as a pdf songbook as a way to learn new songs (and remember which songs I knew!), but after I shared it with the group it seems to be a useful tool and this seems to be the best way to keep an up to date version for people to use. 
    </p>

    <p>
        Please feel free to send any corrections, translations or suggestions to my email address: cortinacapoeira@gmail.com
    </p>
</div>

<div class = "contributions">
    We would love for this project to be a collaboration and we have some ideas for how this can be extended and grow. If you want to get involved please send us a message here!
</div>
