<html>
    <head>
        <title>
            {{ pagetitle }}
        </title>
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/index.css">
        </head>
    <body>
    
        <div class="Banner" id = 'top'>
            <img src="longandthin.png">
        </div>
        
        <div class = "nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="song-index">Index</a></li>
                    <li><a href="#contact">Capoeira</a></li>
                    <li><a href="#about">Samba</a></li>
                </ul>
            <div class = "menu">
                > menu >
            </div>
        </div>

        <div>
            {{ content }}
        </div>
    </body> 
</html>