---
layout: page-menu-banner.liquid
title: "Capoeira Songbook|Candomblé"
---

<h2>
Candomblé
</h2>

<p>When Africans were brought to Brazil as slaves, they brought with them their beleif systems and religions.</p>

<div class = 'refs'>
https://www.todamateria.com.br/candomble/
</div>
