---
layout: page-menu-banner.liquid
title: "Capoeira Songbook|Zumbi"
---

<h2>
Zumbi
</h2>

<p>The Palmares was one of the largest and well know quilombos. Set up around 1600, the Quilumbo dos Palmares survived for nearly 100 years and actually ended up as a collection of settlements with it's own capital and...  </p>

<div class = 'refs'>

</div>
